*{
    font-family: 'Quicksand', sans-serif;
}
body{
  margin:0;
}
#loaded{
    display: none;
}
#searchBar{
  padding-bottom: 0.5vh;
  height:4vh;
  text-align: left;
  padding-left: 3vw;
  padding-top:2vh;
}
#searchBar button{
  float: right;
}
#searchBar img{
  width: 10vw;
  vertical-align: bottom;
  float: right;
  margin-top:-1vh;
}
#dayNav{
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.day{
  width: 12.6vw;
  Text-align: center;
  padding: 0.5vw;
  padding-top:1.5vh;
  background-color: #037971;
  color: white;
  height: 2vh;
  border: solid 1.2px #037971;
  font-weight: 900;
}
.space{
  border: solid 1px lightgray;
  height: 13vh;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  background: white;
}
.spaceList{
  border: solid 1px lightgray;
}
.spaceList .dt{
  float: left;
}
.spaceList .event{
  margin-left:1vw;
}

.dt{
  width: 1.1vw;
  padding: 0.2vw 0.5vw 0.2vw 0.5vw;
}
.event{
  padding: 0.2vw 0vw 0.2vw 1vw;
}
.curDate{
  background-color:#B1F8F2;
}
#month{
  height: 3vh;
  font-size: 3vh;
  font-weight: 900;
}
#cal{
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  border: solid 2px #037971;
}
#calList{
  border: solid 2px #037971;
}
.dot{
  color: #023436;
  font-weight: 900;
}
#calNav{
  background-color: #037971;
  color: white;
  text-align: center;
  font-size: 2vh;
  height:16vh;
}
#perMonth{
  margin-left: 7vw;
}
#month{
  margin: 2vw;
}
.calMode{
  float: right;
  color: white;
  background-color: #037971;
  border: none;
  margin-top: 1vh;
  margin-right: 2vh;
  cursor: pointer;
}
.material-icons.md { font-size: 5vw; }
.arrow{
  color: white;
  cursor: pointer;
}
.calMode:hover,.arrow:hover{
  color: #d8d8d8;
}
#bottomNav{
  position: absolute;
  bottom:0;
  background: #037971;
  height: 8vh;
  width: 100%;
  color: white;
  text-align: center;
}
#bottomNav i{
  padding-top: 1vh;
}