*{
    font-family: 'Quicksand', sans-serif;
}
body{
    margin: 0;
    background: #EEEEEE;
}
#nav{
    position: absolute;
    top:0;
    width: 100%;
    height: 9vh;
    color: white;
    background: #20B2AA;
    padding: 1vw;
}
#titleNav{
    padding-left: 3vw;
    padding-top:2vh;
    padding-right:5vw;
}
#title{
    font-size: 3vh;
    font-weight: 900;
    padding-top: 1vh;
    display: inline-block;
}
#titleNav img{
    float: right;
    width: 9vw;
}
#searchBar{
    padding-left: 3vw;
}
#searchBar i{
    float: left;
}
#list{
    margin-top: 12vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.item{
    background: white;
    border-radius: 2vw;
    padding:2vw;
    margin-top: 2vh;
}
.item .itemName{
    color:#20B2AA;
    font-weight: 900;
}
.item img{
    height:20vw;
    display: inline-block;
    max-width: 25vw;
}
.item .info{
    display: inline-block;
    width: 50vw;
    vertical-align: top;
    margin-left: 5vw;
}
.item .but{
    font-size: 4vw;
    font-weight: 900;
    color: white;
    padding: 1vw;
    width: 10vw;
    margin-top: 1vw;
    border-radius: 5px;
    text-align: center;
    background-color: #20B2AA;
}
#modal{
    display: none;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vh;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 5px 5px 14px 5px rgba(0,0,0,0.27);
    z-index: 3;
    position: absolute;
    top: 20vh;
    left: 5vw;
}
#edit{
    background-color: #20B2AA;
    font-weight: 900;
    font-size: 5vw;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:1.5vw;
}
.editInput{
    padding-top:4vw;
}
.editInput input{
    border:none;
    border-bottom: solid 1px #BAB8B6;
}
#save{
    font-size: 4vw;
    font-weight: 900;
    color: white;
    padding: 1vw;
    margin-top: 5vw;
    margin-left: 35vw;
    margin-right: 35vw;
    border-radius: 5px;
    text-align: center;
    background-color: #20B2AA;
}