/* CSS files add styling rules to your content */
*{
    font-family: 'Quicksand', sans-serif;
  }
  @keyframes wobble {
     0% { transform: translateX(0%); } 
     15% { transform: translateX(-25%) rotate(-5deg); } 
     30% { transform: translateX(20%) rotate(3deg); } 
     45% { transform: translateX(-15%) rotate(-3deg); } 
     60% { transform: translateX(10%) rotate(2deg); }
     75% { transform: translateX(-5%) rotate(-1deg); }
     100% { transform: translateX(0%); } 
  } 
   @keyframes wobble { 
      0% { transform: translateX(0%); } 
      15% { transform: translateX(-25%) rotate(-5deg); } 
      30% { transform: translateX(20%) rotate(3deg); } 
      45% { transform: translateX(-15%) rotate(-3deg); } 
      60% { transform: translateX(10%) rotate(2deg); } 
      75% { transform: translateX(-5%) rotate(-1deg); } 
      100% { transform: translateX(0%); } 
  }
  
  body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
     background-color: white;
   overflow: hidden;
  }  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  .form input::placeholder{
    color: rgba(0,0,0,0);
    text-shadow: 0 0 5px black;
    transition: all 0.3s;
  }
  .form input:focus::placeholder{
    color: #000;
    text-shadow: none;
    opacity: 1;
  }
  .form input{
    padding-left: 2vw;
    color: black;
    font-size: 4vw;
    width: 80vw;
    height: 70px;
    margin-bottom: 70px;
    border-radius: 2vw;
    border: 2px solid #119c7b;
    caret-color: white;
    outline: none;
  }
  .formFrame{  
    position: absolute;
    top: 25vh;
    background-color: white;
    border-radius: 2vh;
    width: 80vw;
    height: 42vh;
    padding: 5vw;
    -webkit-box-shadow: 21px 22px 60px -17px rgba(0,0,0,0.75);
   box-shadow: 21px 22px 60px -17px rgba(0,0,0,0.75);
    left: 0;
    right: 0;
    margin:auto;
    /*animation-duration: 3s;
    animation-name: wobble; */
  }
  .form{
    text-align: center;
    user-select: none;
  }
  .form button{
     position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 100px;
    height: 110px;
    width: 25vw;
    border-radius: 1.5vw;
    font-size: 4.5vw;
    background-color: white;
    color: #15c39a;
    border: 3px solid #15c39a;
  }
  /*
  #logoFrame{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 1vh;
  }*/
  #logoFrame{
    
    position: absolute;
   right: 0;
    top: 0;
    height: 60vh;
    width: 100%;
    
    background-color: rgba(0,0,0);
    
  }
  #bkgn{
    opacity: 1;
    height: 100%;
    
      transform: rotate(180deg);
    width: 100%;
  }
  #encouragement{
    color: #15c39a;
    text-align: center;
    font-size: 2.8em !important;
  }
  #cornerLogo{
    position: absolute;
    top: 2vh;
    left: 0;
    right: 0;
    margin:auto;
    width: 80vw;
    z-index: 5;
  }
  #encouragement{
    position: absolute;
    bottom: 10vw;
    left: 0;
    right: 0;
    margin:auto;
  }
  #login button{
   
  }
  .switch{
    color: #15c39a;
  }
  .wrongPage{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 35px;
    font-size: 2em;
  }
  @media screen and (max-height: 1000px){
    #encouragement{
      color: white;
    }
  }